
<!-- <nav aria-label="Page navigation example">
  <ul class="pagination">
  		<li class="page-item"><a class="page-link" href="#">Previous</a></li>
  	<#% d=0 %>
  	
  	<#% while d < 31  %>
	    <#% d+=1 %>
	    <li class="page-item">
	    	<a class="page-link" href="?page=<#%= d %>">
	    			<#%= d %> 
	    	</a></li>
	
	   <#% end %>
	    <li class="page-item"><a class="page-link" href="#">Next</a></li>

  </ul>
</nav> -->
<form action="/ro_dprs">
	<div class="col">
     <label for="date">Date:</label>
		 <input type="date" name="date"> 

		  <input type="submit" value="Submit"> 
  </div>
</form>

<div style="margin-left: 30px; margin-top: 30px;">

	<nav aria-label="Page navigation example">
	  <ul class="pagination">

	    
	    <li class="page-item"><%= render "operator_dpr", class:"page-link" %>
	    </li>

		<br>
	  </ul>
  	<div class="container">
		 
		   <span style="float: left; width:50%;">
		   	<h3>
		   	 	Prepared by:-<%= image_tag("szml.jpeg", class:"img-thumbnail", :alt => "sign") %></h3>
		   	 </span>
		   	 	&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		   	 <span style="float: middle; margin-top: 0;">
		   	 	<h3>Checked by:-</h3>
			   			
			   </span>
			  	&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		   	 <span style="float: right;">
			   			<h3>Approved by:- </h3>
		   </span> 
    </div>
		  			
		  		
		  		

		  		
	</nav>
	
<br>
<br>
<br>

	<%= link_to "new", ro_dprs_new_path, class:"btn btn-primary", style: "font-size: 20px;" %>

</div>


