<form action="/ro_dprs" style="margin-left: 30px; margin-top: 30px;">
	<div class="col">
		
		 <input type="date" name="date"> 

		  <input type="submit" value="Submit"> 
  </div>
</form>

<div style="margin-left: 30px; margin-top: 30px;">

	

	    
	    <%= render "operator_dpr", class:"page-link" %>

		<br>
	  
  	<div class="container">
		 
		   <span style="float: left; width:75%;">
		   	<h3>
		   	 	Prepared by:-<!-- <#%= image_tag("szml.jpeg", class:"img-thumbnail", :alt => "sign") %> --></h3>
		   	 </span>
		   	 	&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		   	 <span style="float: middle; width:50%; margin-top: 0;">
		   	 	<h3>Checked by:-</h3>
			   			
			   </span>
			  	&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		  		&nbsp
		   	 <span style="float: right; width:25%;">
			   			<h3>Approved by:- </h3>
		   </span> 
    </div>
		  			
		  		
		  		

		  		
	
	
<br>
<br>
<br>

	<%= link_to "new", ro_dprs_new_path, class:"btn btn-primary", style: "font-size: 20px;" %>

</div>


