<h3>
	<%= @dpr.name %>
</h3>



<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Sr no.</th>
      <th scope="col">Location</th>
      <th scope="col">Operator Name</th>
      <th scope="col">Tshirt</th>
      <th scope="col">Icard</th>
      <th scope="col">Mask</th>
      <th scope="col">Shoes</th>
      <th scope="col">Hygiene</th>
      <th scope="col">Live Location</th>
      <th scope="col">Behaviour</th>
      <th scope="col">Punctuality</th>
      <th scope="col">Photos</th>
      <th scope="col">Machine Videos</th>
      <th scope="col">Feedback</th>
      <th scope="col">Inspaction</th>
      <th scope="col">Backlight</th>
      <th scope="col">Wrapping</th>
      <th scope="col">TV</th>
      <th scope="col">Glass</th>
      <th scope="col">Nozzle</th>
      <th scope="col">Cip & Backwash</th>
      <th scope="col">Cleaning</th>
      <th scope="col">Camera</th>
      <th scope="col">Tds_pH</th>
      <th scope="col">Flow_Temp</th>
      <th scope="col">Total Marks</th>
    </tr>
  </thead>
  <tbody>
  	
    <tr>
      <th scope="row">1</th>
     
    </tr>
  </tbody>
</table>