<div style="margin-left: 30px; margin-top: 30px;" >
	<h3>DPR</h3>
	<br>


	<%= link_to "RO Operator DPR", ro_dprs_path, class:"navbar-brand" %>
	<br>
	<br>
	<%= link_to "STP Operator DPR", stp_dprs_path, class:"navbar-brand" %>
	

</div>

<!-- <#% @dprs.each do |dpr| %>
	<a href="http://localhost:3000/<#%= dpr.link %>"><#%= dpr.name %></a>
		<br>
		<br>
	<#% end %> -->






