
<div class="menu">
	<h1> Menu </h1>
<br>
	<ul>
		<li>
			<%= link_to "DPR", home_dpr_path, class:"navbar-brand" %>

		</li>
		<li>
			<%= link_to "operators", operators_index_path, class:"navbar-brand" %>
		</li>
		<li>
			<%= link_to "Areas", areas_index_path, class:"navbar-brand" %>
		</li>
		<li>
			<%= link_to "Locations", location_index_path, class:"navbar-brand" %>
		</li>
	</ul>
<br>


</div>

