<form action="/stp_dprs" style="margin-left: 30px; margin-top: 30px;">
  <div class="col">
    
     <input type="date" name="date"> 

      <input type="submit" value="Submit"> 
  </div>
</form>
  
<div style="margin-left: 30px; margin-top: 30px;">
      <h1> STP OPERATOR DPR </h1>

          <%= render "stp_dpr", class:"page_item" %>


    <div>
       <h4>
        Prepared by:-<!-- <#%= image_tag("szml.jpeg", class:"img-thumbnail", :alt => "sign") %> --></h4>
   <br>
       <h4>Checked by:-</h4>
            
  <br>
      <h4>Approved by:- </h4>
      
    </div>

  
<br>
<br>
<br>


<%= link_to "new", stp_dprs_new_path, class:"btn btn-primary", style: "font-size: 20px;" %>

</div>


