<h3>
	<h1> STP OPERATOR DPR </h1>
</h3>
<nav aria-label="Page navigation example">
  	<ul class="pagination">
		<%= render "stp_dpr", class:"page_item" %>

	</ul>
</nav>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

<%= link_to "new", stp_dprs_new_path %>

