
<h1>Areas</h1>

<div class="container">
	<ol class="list-group list-group-numbered">
		<% @areas.each do |area| %>
			<li class="list-group-item">
				 <div class="row align-items-start">
    				<div class="col">
						<%= area.area_name %>
					</div>
					<div class="col">
				  		<%= button_to 'Destroy', area, method: :delete %>
				  	</div>
				  </div>
			</li>

		<% end %>	
	</ol>
	

</div>

<%= link_to "New", areas_new_path, class:'btn btn-primary' %>



